* {
  margin: 0;
  padding: 0;
}
.content {
  border: 2px solid;
  border-color: rgb(16, 202, 146);
  box-shadow: 2px 5px 13px 3px rgb(115, 199, 154);
  margin: auto;
  width: 75%;
  height: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(196, 255, 223);
}
.header {
  text-align: center;
}
.header button {
  font-size: 16px;
  height: 40px;
  width: 8rem;
  margin: 15px 5px 15px 5px;
  padding: 0px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(16, 202, 146);
  background-color: rgb(93, 226, 193);
}
.flex {
  display: flex;
  justify-content: center;
  margin: 9px 5px 9px 5px;
}
.flex * {
  margin: 0px 23px 0px 0px;
  /* height: 40px; */
}
#flex-binary input {
  height: 20px;
  width: 9rem;
  border: 2px solid rgb(60, 163, 115);
  border-radius: 5px;
}
#flex-decimal input {
  height: 20px;
  width: 9rem;
  margin: 0px 33px 0px 0px;
  border: 2px solid rgb(60, 163, 115);
  border-radius: 5px;
}
.io-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#arrow {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  border: 2px solid rgb(60, 163, 115);
  border-radius: 5px;
}
#cal {
  font-size: 16px;
  height: 40px;
  width: 8rem;
  margin: 15px 5px 15px 5px;
  padding: 0px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(16, 202, 146);
  background-color: rgb(93, 226, 193);
}
