.content {
  border: 2px solid;
  border-color: rgb(16, 90, 202);
  box-shadow: 2px 5px 13px 3px rgb(196, 224, 255);
  margin: auto;
  width: 75%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(241, 243, 255);
}
.header {
  text-align: center;
}
.select {
  display: flex;
  justify-content: center;
}

.select-box {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: large;
  border: 2px solid slateblue;
  border-radius: 7px;
  background-color: rgb(193, 193, 255);
}

#display {
  /* text-align: left; */
  height: 70px;
  /* line-height: 50px; */
  background-color: rgb(193, 193, 255);
  padding: 5px;
  font-size: 20px;
  width: 16.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: inset 0px 0px 13px 3px rgb(193, 193, 255);
  border-radius: 5px;
  overflow: auto;
  /* text-overflow: clip; */
}
.vector {
  border-radius: 5px;
  width: 30px;

  transition: 1s;
}

button.product {
  padding: 10px;
  background: #c7e5b7;
  border-radius: 5px;
}
button.product:active {
  padding: 10px;
  background: #6f9959;
  border-radius: 5px;
}

.vector:hover {
  background: rgb(199, 232, 243);
}
.vector:focus {
  background: rgb(163, 185, 245);
}
.result {
  color: red;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex p {
  text-align: center;
}
#container {
  text-align: center;
}
body {
  background-color: blanchedalmond;
}
